<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-plus" viewBox="0 0 32 32">
      <title>plus</title>
      <path class="path1" d="M31.273 14.545h-13.818v-13.818c0-0.401-0.326-0.727-0.727-0.727h-1.455c-0.401 0-0.727 0.326-0.727 0.727v13.818h-13.818c-0.401 0-0.727 0.326-0.727 0.727v1.455c0 0.401 0.326 0.727 0.727 0.727h13.818v13.818c0 0.401 0.326 0.727 0.727 0.727h1.455c0.401 0 0.727-0.326 0.727-0.727v-13.818h13.818c0.401 0 0.727-0.326 0.727-0.727v-1.455c0-0.401-0.326-0.727-0.727-0.727z"></path>
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 32 32">
      <title>minus</title>
      <path class="path1" d="M0.727 17.455h30.545c0.401 0 0.727-0.326 0.727-0.727v-1.455c0-0.401-0.326-0.727-0.727-0.727h-30.545c-0.401 0-0.727 0.326-0.727 0.727v1.455c0 0.401 0.326 0.727 0.727 0.727z"></path>
    </symbol>
    <symbol id="icon-cross" viewBox="0 0 32 32">
      <title>cross</title>
      <path class="path1" d="M28.908 0.376l-12.907 12.907-12.907-12.907c-0.376-0.375-0.984-0.376-1.358 0l-1.359 1.358c-0.376 0.376-0.376 0.984 0 1.358l12.908 12.907-12.908 12.907c-0.376 0.376-0.376 0.984 0 1.358l1.358 1.358c0.376 0.375 0.984 0.375 1.358 0l12.907-12.907 12.907 12.907c0.376 0.375 0.984 0.376 1.358 0l1.358-1.358c0.376-0.376 0.376-0.984 0-1.358l-12.906-12.907 12.907-12.907c0.376-0.376 0.376-0.984 0-1.358l-1.358-1.358c-0.375-0.376-0.984-0.376-1.358 0z"></path>
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 17 32">
      <title>arrow-left</title>
      <path class="path1" fill="none" stroke="currentColor" stroke-width="1.7808" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M15.578 30.25l-14.251-14.251 14.251-14.249"></path>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 17 32">
      <title>arrow-right</title>
      <path class="path1" fill="none" stroke="currentColor" stroke-width="1.7808" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M1.328 1.75l14.25 14.25-14.25 14.25"></path>
    </symbol>
    <symbol id="icon-arrow-bottom" viewBox="0 0 30 32">
      <title>arrow-bottom</title>
      <path class="path1" fill="none" stroke="currentColor" stroke-width="1.7808" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M29.25 8.875l-14.25 14.25-14.25-14.25"></path>
    </symbol>
    <symbol id="icon-cart" viewBox="0 0 25 32">
      <title>cart</title>
      <path class="path1" d="M22.957 6.957h-3.478c0-3.899-3.011-6.959-6.927-6.959s-6.986 3.060-6.986 6.959v0h-3.478c-1.093 0-2.087 0.993-2.087 2.081v20.995c0 1.088 0.886 1.97 1.978 1.97h21.087c1.093 0 1.978-0.882 1.978-1.97v-20.99c0-1.088-0.994-2.087-2.087-2.087zM8.348 6.957c0-2.371 1.821-4.189 4.203-4.189s4.145 1.818 4.145 4.189v0h-8.348z"></path>
    </symbol>
    <symbol id="icon-dropdown-arrow" viewBox="0 0 53 32">
      <title>dropdown-arrow</title>
      <path class="path1" d="M26.631 31.968c-1.383 0-2.708-0.556-3.683-1.537l-20.914-20.967c-2.035-2.035-2.035-5.352 0-7.392 2.040-2.040 5.336-2.040 7.376 0l17.21 17.258 17.115-17.247c2.029-2.045 5.336-2.051 7.37-0.021 2.040 2.040 2.051 5.346 0.021 7.397l-20.797 20.962c-0.98 0.986-2.305 1.542-3.688 1.547h-0.011z"></path>
    </symbol>
    <symbol id="icon-next" viewBox="0 0 19 32">
      <title>next</title>
      <path class="path1" d="M19.079 15.923c0 0.849-0.335 1.662-0.932 2.262l-12.759 12.832c-1.241 1.247-3.257 1.247-4.498 0-1.244-1.251-1.244-3.277 0-4.524l10.503-10.563-10.496-10.5c-1.247-1.247-1.251-3.273-0.013-4.524 1.241-1.251 3.254-1.257 4.498-0.013l12.759 12.762c0.6 0.6 0.935 1.413 0.938 2.265v0.003z"></path>
    </symbol>
    <symbol id="icon-previous" viewBox="0 0 19 32">
      <title>previous</title>
      <path class="path1" d="M-0.032 16.029c0-0.851 0.339-1.667 0.938-2.269l12.864-12.87c1.251-1.254 3.286-1.254 4.538 0s1.251 3.283 0 4.538l-10.589 10.595 10.582 10.531c1.254 1.251 1.258 3.283 0.013 4.538-1.251 1.254-3.28 1.261-4.538 0.013l-12.861-12.8c-0.605-0.602-0.944-1.421-0.947-2.272v-0.003z"></path>
    </symbol>
    <symbol id="icon-heart" viewBox="0 0 39 32">
      <title>heart</title>
      <path class="path1" d="M28.273 0.013c-5.53 0-8.944 4.689-8.944 4.689s-3.414-4.689-8.944-4.689c-3.077 0-10.386 3.11-10.386 10.911 0 12.448 19.329 21.063 19.329 21.063s19.327-8.615 19.327-21.063c0-7.801-7.308-10.911-10.384-10.911z"></path>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 32 32">
      <title>search</title>
      <path class="path1" d="M31.28 31.481c-0.299 0.299-0.688 0.45-1.080 0.45-0.39 0-0.781-0.15-1.078-0.45l-7.638-7.672c-2.263 1.775-4.966 2.717-7.699 2.717-3.218 0-6.436-1.23-8.885-3.69-4.9-4.92-4.9-12.927 0-17.849 4.9-4.918 12.873-4.918 17.77 0 4.531 4.551 4.817 11.709 0.97 16.657l7.64 7.672c0.595 0.598 0.595 1.567 0 2.165zM20.514 7.155c-1.856-1.863-4.291-2.794-6.729-2.794s-4.873 0.931-6.729 2.794c-3.71 3.726-3.71 9.79 0 13.515 3.71 3.726 9.746 3.726 13.457 0 3.71-3.725 3.71-9.788 0-13.515z"></path>
    </symbol>
    <symbol id="icon-tick" viewBox="0 0 41 32">
      <title>tick</title>
      <path class="path1" d="M16.38 31.993l-16.38-17.288 5.969-6.301 10.411 10.99 18.367-19.388 5.972 6.301-24.339 25.686z"></path>
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 32 32">
      <title>facebook</title>
      <path class="path1" d="M30.208 0q0.75 0 1.271 0.521t0.521 1.271v28.416q0 0.75-0.521 1.271t-1.271 0.521h-8.083v-12.333h4.125l0.583-4.875h-4.708v-3.125q0-1.125 0.5-1.708t1.833-0.583h2.542v-4.333q-1.667-0.167-3.708-0.167-2.792 0-4.5 1.646t-1.708 4.646v3.625h-4.125v4.875h4.125v12.333h-15.292q-0.75 0-1.271-0.521t-0.521-1.271v-28.416q0-0.75 0.521-1.271t1.271-0.521h28.416z"></path>
    </symbol>
    <symbol id="icon-fancy" viewBox="0 0 24 32">
      <title>fancy</title>
      <path class="path1" d="M22.854 9.333q0-3.875-3.271-6.604t-7.854-2.729-7.833 2.729-3.25 6.604v12.458q0 0.75 0.688 1.312t1.646 0.562h6.042v6.042q0 0.958 0.792 1.625t1.917 0.667 1.938-0.667 0.813-1.625v-6.042h6.083q0.958 0 1.625-0.562t0.667-1.312v-12.458z"></path>
    </symbol>
    <symbol id="icon-google-plus" viewBox="0 0 41 32">
      <title>google-plus</title>
      <path class="path1" d="M12.995 14.142v4.456h7.37c-0.297 1.912-2.228 5.606-7.37 5.606-4.437 0-8.057-3.676-8.057-8.206s3.621-8.206 8.057-8.206c2.525 0 4.214 1.077 5.18 2.005l3.527-3.397c-2.265-2.117-5.198-3.397-8.707-3.397-7.185 0-12.996 5.811-12.996 12.996s5.811 12.996 12.996 12.996c7.5 0 12.476-5.272 12.476-12.698 0-0.854-0.092-1.504-0.204-2.153h-12.272zM40.844 14.142h-3.713v-3.713h-3.713v3.713h-3.713v3.713h3.713v3.713h3.713v-3.713h3.713z"></path>
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 32 32">
      <title>instagram</title>
      <path class="path1" d="M15.994 2.886c4.273 0 4.775 0.019 6.464 0.095 1.562 0.070 2.406 0.33 2.971 0.552 0.749 0.292 1.283 0.635 1.841 1.194s0.908 1.092 1.194 1.841c0.216 0.565 0.483 1.41 0.552 2.971 0.076 1.689 0.095 2.19 0.095 6.464s-0.019 4.775-0.095 6.464c-0.070 1.562-0.33 2.406-0.552 2.971-0.292 0.749-0.635 1.283-1.194 1.841s-1.092 0.908-1.841 1.194c-0.565 0.216-1.41 0.483-2.971 0.552-1.689 0.076-2.19 0.095-6.464 0.095s-4.775-0.019-6.464-0.095c-1.562-0.070-2.406-0.33-2.971-0.552-0.749-0.292-1.283-0.635-1.841-1.194s-0.908-1.092-1.194-1.841c-0.216-0.565-0.483-1.41-0.552-2.971-0.076-1.689-0.095-2.19-0.095-6.464s0.019-4.775 0.095-6.464c0.070-1.562 0.33-2.406 0.552-2.971 0.292-0.749 0.635-1.283 1.194-1.841s1.092-0.908 1.841-1.194c0.565-0.216 1.41-0.483 2.971-0.552 1.689-0.083 2.19-0.095 6.464-0.095zM15.994 0.003c-4.343 0-4.889 0.019-6.597 0.095-1.702 0.076-2.864 0.349-3.879 0.743-1.054 0.406-1.943 0.959-2.832 1.848s-1.435 1.784-1.848 2.832c-0.394 1.016-0.667 2.178-0.743 3.886-0.076 1.702-0.095 2.248-0.095 6.59s0.019 4.889 0.095 6.597c0.076 1.702 0.349 2.864 0.743 3.886 0.406 1.054 0.959 1.943 1.848 2.832s1.784 1.435 2.832 1.848c1.016 0.394 2.178 0.667 3.886 0.743s2.248 0.095 6.597 0.095 4.889-0.019 6.597-0.095c1.702-0.076 2.864-0.349 3.886-0.743 1.054-0.406 1.943-0.959 2.832-1.848s1.435-1.784 1.848-2.832c0.394-1.016 0.667-2.178 0.743-3.886s0.095-2.248 0.095-6.597-0.019-4.889-0.095-6.597c-0.076-1.702-0.349-2.864-0.743-3.886-0.406-1.054-0.959-1.943-1.848-2.832s-1.784-1.435-2.832-1.848c-1.016-0.394-2.178-0.667-3.886-0.743-1.714-0.070-2.26-0.089-6.603-0.089v0zM15.994 7.781c-4.533 0-8.216 3.676-8.216 8.216s3.683 8.216 8.216 8.216 8.216-3.683 8.216-8.216-3.683-8.216-8.216-8.216zM15.994 21.33c-2.946 0-5.333-2.387-5.333-5.333s2.387-5.333 5.333-5.333c2.946 0 5.333 2.387 5.333 5.333s-2.387 5.333-5.333 5.333zM26.451 7.457c0 1.059-0.858 1.917-1.917 1.917s-1.917-0.858-1.917-1.917c0-1.059 0.858-1.917 1.917-1.917s1.917 0.858 1.917 1.917z"></path>
    </symbol>
    <symbol id="icon-pinterest" viewBox="0 0 32 32">
      <title>pinterest</title>
      <path class="path1" d="M16 0q3.25 0 6.208 1.271t5.104 3.417 3.417 5.104 1.271 6.208q0 4.333-2.146 8.021t-5.833 5.833-8.021 2.146q-2.375 0-4.542-0.625 1.208-1.958 1.625-3.458l1.125-4.375q0.417 0.792 1.542 1.396t2.375 0.604q2.5 0 4.479-1.438t3.063-3.937 1.083-5.625q0-3.708-2.854-6.437t-7.271-2.729q-2.708 0-4.958 0.917t-3.625 2.396-2.104 3.208-0.729 3.479q0 2.167 0.812 3.792t2.438 2.292q0.292 0.125 0.5 0.021t0.292-0.396q0.292-1.042 0.333-1.292 0.167-0.458-0.208-0.875-1.083-1.208-1.083-3.125 0-3.167 2.188-5.437t5.729-2.271q3.125 0 4.875 1.708t1.75 4.458q0 2.292-0.625 4.229t-1.792 3.104-2.667 1.167q-1.25 0-2.042-0.917t-0.5-2.167q0.167-0.583 0.438-1.5t0.458-1.563 0.354-1.396 0.167-1.25q0-1.042-0.542-1.708t-1.583-0.667q-1.292 0-2.167 1.188t-0.875 2.979q0 0.667 0.104 1.292t0.229 0.917l0.125 0.292q-1.708 7.417-2.083 8.708-0.333 1.583-0.25 3.708-4.292-1.917-6.938-5.875t-2.646-8.792q0-6.625 4.687-11.312t11.312-4.687z"></path>
    </symbol>
    <symbol id="icon-tumblr" viewBox="0 0 32 32">
      <title>tumblr</title>
      <path class="path1" d="M6.593 13.105h3.323v11.256q0 2.037 0.456 3.35 0.509 1.206 1.581 2.144 1.045 0.965 2.76 1.581 1.635 0.563 3.725 0.563 1.822 0 3.404-0.402 1.367-0.268 3.564-1.313v-5.038q-2.224 1.528-4.61 1.528-1.179 0-2.358-0.616-0.697-0.456-1.045-1.26-0.268-0.884-0.268-3.564v-8.228h7.236v-5.038h-7.236v-8.067h-4.342q-0.214 2.278-1.045 4.047-0.831 1.715-2.090 2.734-1.313 1.233-3.055 1.769v4.556z"></path>
    </symbol>
    <symbol id="icon-twitter" viewBox="0 0 32 32">
      <title>twitter</title>
      <path class="path1" d="M31.813 6.126q-1.348 1.988-3.235 3.37 0 0.135 0.034 0.421t0.034 0.421q0 2.629-0.775 5.257t-2.359 5.021-3.758 4.246-5.223 2.966-6.555 1.112q-5.459 0-9.975-2.932 0.944 0.067 1.55 0.067 4.55 0 8.122-2.763-2.123-0.034-3.791-1.297t-2.342-3.252q0.573 0.135 1.247 0.135 0.91 0 1.719-0.27-2.258-0.472-3.741-2.258t-1.483-4.111v-0.067q1.281 0.674 2.932 0.741-1.314-0.876-2.089-2.308t-0.775-3.084q0-1.685 0.843-3.303 2.46 3.067 5.948 4.836t7.566 1.971q-0.236-0.842-0.236-1.483 0-2.696 1.921-4.6t4.684-1.904q1.348 0 2.595 0.539t2.123 1.517q2.224-0.438 4.145-1.584-0.708 2.292-2.864 3.606 2.056-0.27 3.741-1.011z"></path>
    </symbol>
    <symbol id="icon-vimeo" viewBox="0 0 32 32">
      <title>vimeo</title>
      <path class="path1" d="M0 9.393l1.511 2.023q2.1-1.562 2.535-1.562 1.664 0 3.098 5.301 0.384 1.46 1.255 4.75t1.357 5.057q1.895 5.301 4.763 5.301 4.558 0 11.062-8.757 6.376-8.322 6.606-13.162v-0.563q0-5.89-4.712-6.043h-0.358q-6.325 0-8.706 7.759 1.383-0.589 2.407-0.589 2.177 0 2.177 2.253 0 0.282-0.026 0.589-0.154 1.818-2.151 4.968-2.049 3.303-3.047 3.303-1.332 0-2.356-5.019-0.307-1.178-1.306-7.605-0.435-2.766-1.613-4.097-1.024-1.152-2.561-1.178-0.205 0-0.435 0.026-1.613 0.154-4.788 2.945-1.639 1.536-4.712 4.302z"></path>
    </symbol>
    <symbol id="icon-rss" viewBox="0 0 32 32">
      <title>rss</title>
      <path class="path1" d="M7.253 24.736c0.774 0.774 1.246 1.824 1.25 2.993-0.004 1.167-0.476 2.219-1.248 2.989l-0.002 0.002c-0.774 0.77-1.83 1.239-3.006 1.239-1.173 0-2.227-0.471-3.002-1.242-0.77-0.77-1.246-1.82-1.246-2.989s0.476-2.221 1.246-2.995v0.002c0.774-0.772 1.828-1.246 3.002-1.246 1.175 0 2.231 0.476 3.006 1.246zM7.253 24.734v0.002c0.002 0 0.002 0 0.002 0l-0.002-0.002zM1.246 30.72c0 0 0 0 0-0.002 0 0 0 0 0 0v0.002zM0.004 10.882v6.11c3.987 0.002 7.761 1.568 10.586 4.397 2.822 2.818 4.382 6.598 4.388 10.601h0.002v0.011h6.135c-0.004-5.82-2.37-11.093-6.195-14.921s-9.097-6.195-14.916-6.197zM0.015 0v6.108c14.259 0.011 25.85 11.62 25.86 25.892h6.125c-0.004-8.821-3.59-16.813-9.385-22.611-5.796-5.796-13.783-9.385-22.601-9.389z"></path>
    </symbol>
    <symbol id="icon-youtube" viewBox="0 0 33 32">
      <title>youtube</title>
      <path class="path1" d="M0 25.693q0 1.997 1.318 3.395t3.209 1.398h24.259q1.891 0 3.209-1.398t1.318-3.395v-19.306q0-1.997-1.331-3.435t-3.195-1.438h-24.259q-1.864 0-3.195 1.438t-1.331 3.435v19.306zM12.116 22.205v-12.329q0-0.186 0.107-0.293 0.080-0.027 0.133-0.027l0.133 0.027 11.61 6.178q0.107 0.107 0.107 0.266 0 0.107-0.107 0.213l-11.61 6.178q-0.053 0.053-0.107 0.053-0.107 0-0.16-0.053-0.107-0.107-0.107-0.213z"></path>
    </symbol>
    <symbol id="icon-lock" viewBox="0 0 23 32">
      <title>lock</title>
      <path class="path1" d="M21.986 12.829h-1.579v-3.908c0-4.929-4.010-8.94-8.934-8.94-4.927 0-8.934 4.010-8.934 8.94v3.908h-1.581c-0.509 0-0.925 0.415-0.925 0.925v17.346c0 0.509 0.415 0.925 0.925 0.925h21.029c0.512 0 0.925-0.415 0.925-0.925v-17.346c0-0.509-0.413-0.925-0.925-0.925zM12.912 23.385v3.694c0 0.322-0.26 0.584-0.582 0.584h-1.716c-0.322 0-0.584-0.263-0.584-0.584v-3.694c-0.638-0.45-1.053-1.195-1.053-2.037 0-1.378 1.118-2.496 2.496-2.496s2.493 1.118 2.493 2.496c0 0.842-0.415 1.587-1.053 2.037zM16.139 12.829h-9.336v-3.908c0-2.576 2.093-4.672 4.669-4.672 2.573 0 4.667 2.096 4.667 4.672v3.908z"></path>
    </symbol>
    <symbol id="icon-video-play" viewBox="0 0 32 32">
      <title>video-play</title>
      <path class="path1" d="M0 0v32h32v-32h-32zM30.609 30.609h-29.217v-29.217h29.217v29.217zM12.522 10.435v11.13l7.652-5.565z"></path>
    </symbol>
    <symbol id="icon-sale" viewBox="0 0 24 24">
      <title>sale</title>
      <path d="M22.707 12.293l-11-11A1.002 1.002 0 0 0 11 1H2a1 1 0 0 0-1 1v9c0 .265.105.52.293.707l11 11a.997.997 0 0 0 1.414 0l9-9a.999.999 0 0 0 0-1.414zM7 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 7 9zm6 8.414L8.586 13 10 11.586 14.414 16 13 17.414zm3-3L11.586 10 13 8.586 17.414 13 16 14.414z" fill="currentColor"></path>
    </symbol>
  </defs>
</svg>