{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title h1">{{ '404.general.title' | t }}</h1>
    </div>

    <div class="box box--mini">
      <div class="box__content box__content--large-padding box__content--centered" style="padding: 54pt 0;">
      <ul style=" text-align: left;  list-style: none;">
        <li><h3 style="display: contents;">It's not your fault.</h3></li>
        <li><h3 style="display: contents;">The page you're looking for, has been moved or deleted.</h3></li>
      <br/>
        <li><h4 style="display: contents;">What can you do?</h4>
            <ul style="padding-left: 16px; text-indent: -22px; padding-left: 22px;">
                <li>Please use the search function to help you find the right stuff.</li>
                <li>Go to the front page and use the navigation menu.</li>
                <li>If you have any doubt, do not hesitate to write to hello@podspeakers.com - we are ready to help you.</li>
        
              </ul>
        </li>
        
      </ul>

        <div class="box__button-wrapper button-wrapper">
          <a href="{{ routes.root_url }}" class="button button--secondary">{{ '404.general.back_to_home' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>