<section class="s-photo-and-color-block s-p-a-c-b">
        <div class="container">
            <div class="s-p-a-c-b__block" style="">
    
                <div class="s-p-a-c-b__img">      
                    <img src="//cdn.shopify.com/s/files/1/0274/8789/5600/files/MiniPod_BT_MKII_kitchen_1_550x.jpg?v=1573158088" alt="">  
                </div>
    
                <div class="s-p-a-c-b__content" style="background-color:#871321;">  

                    <div class="s-p-a-c-b__title" style="color:#fff;">
                        <h3 data-theme-editor-setting="section.1573914163618.spacb_title">Podspeakers tend to become a focal point in any room</h3>   
                    </div> 
               
                    <div class="s-p-a-c-b__text" style="color:#fff;">
                        <p data-theme-editor-setting="section.1573914163618.spacb_text"></p><p>The design draws on organic shapes that create a magical experience at the intersection of sound and form.</p>
<p>No matter where they are placed, the speakers draw the eye due to their unparalleled performance and their stylish appearance.</p>
<p>Podspeakers create the ideal conditions for listening to and experiencing music.</p><p></p>    
                    </div> 
            
                </div> 
           
            </div>
        </div>
</section>

<section class="s-photo-and-color-block s-p-a-c-b section-1573914411572">
        <div class="container">
            <div class="s-p-a-c-b__block" style="flex-flow: row-reverse;">
    
                <div class="s-p-a-c-b__img">      
                    <img src="//cdn.shopify.com/s/files/1/0274/8789/5600/files/cys1_550x.jpg?v=1573914691" alt="">  
                </div>
    
                <div class="s-p-a-c-b__content" style="background-color:#507485;">  

                    <div class="s-p-a-c-b__title" style="color:#fff;">
                        <h3 data-theme-editor-setting="section.1573914411572.spacb_title">The personal element that makes a difference</h3>   
                    </div> 
               
                    <div class="s-p-a-c-b__text" style="color:#fff;">
                        <p data-theme-editor-setting="section.1573914411572.spacb_text"></p><p>The vision of Simon Ghahary, the man behind Podspeakers – ‘Shaping Sound’ – became representative of his desire to create a new, unique design where form follows function to transform and optimise the audio experience compared to traditional speaker design.</p><p></p>    
                    </div> 
            
                </div> 
           
            </div>
        </div>
</section>

<section class="s-photo-and-color-block s-p-a-c-b section-1573914955966">
        <div class="container">
            <div class="s-p-a-c-b__block" style="">
    
                <div class="s-p-a-c-b__img">      
                    <img src="//cdn.shopify.com/s/files/1/0274/8789/5600/files/BigPod_MKIII_black_floor_550x.jpg?v=1573158071" alt="">  
                </div>
    
                <div class="s-p-a-c-b__content" style="background-color:#866b2d;">  

                    <div class="s-p-a-c-b__title" style="color:#fff;">
                        <h3 data-theme-editor-setting="section.1573914955966.spacb_title">To those who are passionate about music, design, and style</h3>   
                    </div> 
               
                    <div class="s-p-a-c-b__text" style="color:#fff;">
                        <p data-theme-editor-setting="section.1573914955966.spacb_text"></p><p>The sculptural curves are testament to an experimental and imaginative take on design, a desire to break with tradition and create something new in the fields of aesthetics and audio.</p><p></p>    
                    </div> 
            
                </div> 
           
            </div>
        </div>
</section>

<section class="s-photo-and-color-block s-p-a-c-b section-1573915135569">
        <div class="container">
            <div class="s-p-a-c-b__block" style="flex-flow: row-reverse;">
    
                <div class="s-p-a-c-b__img">      
                    <img src="//cdn.shopify.com/s/files/1/0274/8789/5600/files/5c244a97a4e972606e4e039be26a31a7_550x.png?v=1573915558" alt="">  
                </div>
    
                <div class="s-p-a-c-b__content" style="background-color:#043730;">  

                    <div class="s-p-a-c-b__title" style="color:#fff;">
                        <h3 data-theme-editor-setting="section.1573915135569.spacb_title">Create an atmosphere and set the mood</h3>   
                    </div> 
               
                    <div class="s-p-a-c-b__text" style="color:#fff;">
                        <p data-theme-editor-setting="section.1573915135569.spacb_text"></p><p>Regardless of their shape, the sublime sound quality and stylish design of your Podspeakers stimulate all your senses, bringing music to life. They help create atmospheric rooms that inspire and give joy.</p><p></p>    
                    </div> 
            
                </div> 
           
            </div>
        </div>
</section>